@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-advent-pro: "Advent Pro", sans-serif;
  --font-albert-sans: "Albert Sans", sans-serif;

  --background: #010b33;
  --foreground: #ededed;

  --primary: #bcacff;
  --secondary: #f8deff;
  --primary-gradient: linear-gradient(118.01deg, #eba6ff 7.47%, #60b7ff 62.48%);

  --text-primary: white;
  --text-secondary: #ffffff;

  --divider: #091b63;
  --border: #091b63;

  --input-bg: #01114e;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

html {
  scroll-behavior: smooth;
}

@media (max-width: 768px) {
  html {
    font-size: 14px;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-albert-sans);
  overflow-x: hidden;
}

.font-albert-sans {
  font-family: var(--font-albert-sans);
}

// .font-advent-pro {
//   font-family: var(--font-advent-pro);
// }

p {
  color: var(--text-secondary);
}

.hero-bg {
  /* background-image: url("../../public/hero.svg"); */
  /* background-image: url("../../public/images/hero-bg-mobile.png"); */
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 2;
}

.hero-bg::after {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("../../public/images/hall.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}

.hero-bg::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("../../public/images/hero-bg-mobile.png");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 100;
  pointer-events: none;
}

.download-btn {
  background-image: url("../../public/icons/download-border.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

.download-btn::after {
  display: none;
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: var(--background);
  width: 25%;
  z-index: -1;
}

.primary-btn {
  background-image: url("../../public/images/button-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

.footer-bg {
  background-color: rgba(14, 14, 14, 0.5);
  background-image: url("../../public/images/footer-bg.png");
  background-blend-mode: multiply;
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
}

.footer-gradient-bg {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.084) 0%,
    rgba(217, 217, 217, 0.042) 100%
  );
  backdrop-filter: blur(10px);
}

.marquee {
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  border: 1px solid #ffffff33;
  border-left: none;
  border-right: none;
  margin-top: -20px;
}

.copyright {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.084) 0%,
    rgba(217, 217, 217, 0.042) 100%
  );
  backdrop-filter: blur(10px);
}

.logo {
  position: absolute;
  bottom: 0.25rem;
  left: 50%;
  transform: translate(-50%, 0);
}

.scroll-absolute {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
}

.header-bg {
  position: relative;
  z-index: 1;
}

.header-bg::before {
  display: none;
}

.header-bg::after {
  display: none;
}

.gradient-text {
  // background: radial-gradient(121.57% 98.78% at 116.18% 69.02%, #00c964 0%, #cffe58 100%);
  background: var(--primary-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn-gradient {
  // background: radial-gradient(121.57% 98.78% at 116.18% 69.02%, #00c964 0%, #cffe58 100%);
  background: var(--primary-gradient);
  box-shadow: 0px 2.9px 20.69px 0px #ffffff66 inset;
  box-shadow: 0px 13.07px 58px -7.99px #c9ff3f6b;
}

.gradient-bg {
  background: linear-gradient(118.01deg, #eba6ff 7.47%, #60b7ff 62.48%);
}

.blur-bg {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.084) 0%,
    rgba(217, 217, 217, 0.042) 100%
  );
  backdrop-filter: blur(10px);
  border: 0.84px solid #ffffff33;
}

.mySwiper {
  width: 100%;
}

.swiper-slide {
  width: 60% !important;
  height: 200px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  transition: 0.3s ease;
  padding: 50px 20px 40px;

  @media (max-width: 600px) {
    padding: 30px 20px;
  }
}

.swiper-slide-active {
  /* background-image: url("../../public/images/sneak-bg.png"); */
  transform: scale(1.1);
}

.swiper-slide-active > div {
  position: relative;
  /* padding: 40px 30px 30px; */
}

.swiper-slide-active > div::after {
  content: "";
  position: absolute;
  top: -50px;
  left: -30px;
  right: -30px;
  bottom: -30px;
  background-image: url("../../public/images/sneak-bg.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  z-index: 1;
  pointer-events: none;
}

.feature-bg {
  // background: radial-gradient(circle at center, #4d6807, transparent 50%, transparent);
  // background: radial-gradient(circle at center, #7266a5 0%, transparent 50%, transparent);
  position: relative;
}

.feature-bg::after {
  content: "";
  position: absolute;
  width: 65%;
  aspect-ratio: 1;
  background-image: url("../../public/images/feature-bg.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  z-index: -1;
}

.feature-card:nth-child(1)::after {
  content: "";
  position: absolute;
  height: 2px;
  background-color: #091b632b;
  top: calc(100% + 2.5rem);
  width: 100%;
}

.feature-card:nth-child(2)::after {
  content: "";
  position: absolute;
  height: 2px;
  background-color: rgba(9, 27, 99, 0.169);
  top: calc(100% + 2.5rem);
  width: 100%;
}

.feature-card:nth-child(3)::after {
  content: "";
  position: absolute;
  height: 2px;
  background-color: #091b632b;
  top: calc(100% + 2.5rem);
  width: 100%;
  display: none;

  @media (max-width: 768px) {
    display: flex;
  }
}

.feature-card:nth-child(1)::before {
  content: "";
  position: absolute;
  height: 100%;
  background-color: #091b632b;
  left: calc(100% + 2.5rem);
  width: 2px;

  @media (max-width: 768px) {
    display: none;
  }
}

.feature-card:nth-child(3)::before {
  content: "";
  position: absolute;
  height: 100%;
  background-color: #091b632b;
  left: calc(100% + 2.5rem);
  width: 2px;

  @media (max-width: 768px) {
    display: none;
  }
}

.news-card:nth-child(1),
.news-card:nth-child(2),
.news-card:nth-child(3),
.news-card:nth-child(4) {
  border-bottom: 1px solid var(--border);

  @media (max-width: 768px) {
    border-bottom: none;
  }
}

.news-card:nth-child(1),
.news-card:nth-child(2),
.news-card:nth-child(3),
.news-card:nth-child(5),
.news-card:nth-child(6),
.news-card:nth-child(7) {
  border-right: 1px solid var(--border);

  @media (max-width: 768px) {
    border-right: none;
  }
}

.news-card:nth-child(1),
.news-card:nth-child(2),
.news-card:nth-child(3),
.news-card:nth-child(4),
.news-card:nth-child(5),
.news-card:nth-child(6) {
  @media (max-width: 768px) {
    border-bottom: 1px solid var(--border);
  }
}

.news-card:nth-child(1),
.news-card:nth-child(3),
.news-card:nth-child(5),
.news-card:nth-child(7) {
  @media (max-width: 768px) {
    border-right: 1px solid var(--border);
  }
}

.section-blur-bg {
  background-image: url("../../public/images/blur-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.header-bg-2 {
  position: relative;
}

.header-bg-2::after {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("../../public/images/header-bg2.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  z-index: -1;
  pointer-events: none;

  @media (max-width: 768px) {
    background-image: url("../../public/images/header-bg2-mobile.png");
    z-index: 0;
  }
}

.team-card-bg {
  background: linear-gradient(180deg, rgba(56, 56, 56, 0) 0%, #07123c 50.16%);
}

.chart-bg {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../../public/images/chart-bg.png");
  background-size: contain;
  background-repeat: no-repeat;
  // z-index: 1;
  width: 70%;
  height: 70%;
}

.faq-active {
  position: relative;
}

.faq-active::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(118.01deg, #eba6ff 7.47%, #60b7ff 62.48%);
}

.levelup-bg {
  background-image: url("../../public/images/levelup-bg1.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left top;
  position: relative;
}

.levelup-bg:after {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("../../public/images/levelup-bg2.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right top;
  z-index: -1;

  @media (max-width: 768px) {
    display: none;
  }
}

.leaderboard-bg {
  background-image: url("../../public/images/leaderboard-bg.png");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: top left;
}

.leaderboard-bg-1 {
  background-image: url("../../public/images/leaderboard1.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right center;
}

.leaderboard-bg-2 {
  background-image: url("../../public/images/leaderboard2.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left center;
}

.vision-bg {
  background-image: url("../../public/images/wave.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top left;
  position: relative;
}

.vision-bg::after {
  content: "";
  position: absolute;
  right: 0;
  top: 40%;
  height: 100%;
  width: 100%;
  background-image: url("../../public/images/wave2.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom right;
}

.roadmap-bg {
  background-image: url("../../public/images/star.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

@media (min-width: 768px) {
  .copyright {
    background: transparent;
    backdrop-filter: none;
  }

  .hero-bg {
    /* background-image: url("../../public/images/hero-bg.png"); */
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
  }

  .header-bg::before {
    display: block;
    content: "";
    position: absolute;
    inset: 0;
    background-color: var(--background);
    z-index: -1;
    width: 100%;
    height: 50%;
  }

  .header-bg::after {
    display: block;
    content: "";
    position: absolute;
    inset: 0;
    background-color: var(--background);
    z-index: -1;
    width: calc(50% + 150px);
    /* clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%); */
    clip-path: polygon(0 0, 100% 0%, 94% 100%, 0% 100%);
  }

  .footer-bg {
    // background-color: rgba(14, 14, 14, 0.6);
    background-image: url("../../public/images/footer-bg.png");
    // background-blend-mode: multiply;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
  }

  .hero-bg::after {
    background-image: url("../../public/images/hall.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .hero-bg::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("../../public/images/hero-bg.png");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 100;
  }

  .download-btn::after {
    display: block;
  }
}
